.galeria {
    height: 3000px;
    background-color: #c49565;  /* Bege/Creme */
    padding: 15px 0;
    color: white;
    text-align: center;     
}

/*aki  to pegando cada foto separada*/
.galeria img {
  border: 3px solid #c2185b;
  
}

/* aki to estilizando a clase img contendo as 3 fotos do bloco */
.img {   
    display: flex;
    justify-content: center;    
    list-style-type: none; /* Remove as bolinha da lista */  
    text-align: center; 
    max-width: 100%;
    height: auto;    
}
/* Legenda */
.img figcaption {
    text-align: center;
    margin-top: 20px;
    background: #c2185b;
    padding: 10px;
    border-radius: 5px; 
}