/* Estilo da classe home */
.home {
    background-color: #c49565; /* Beige/Cream */
    height: 900px;
    text-align: center;
    color: white;
    padding: 30px 0;
}

/* Container do carrosel */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Esconde as imagens por padrão */
.mySlides {
    display: none; 
}

/* Botões de navegação (anterior e próximo) */
.prev, .next {
    cursor: pointer; /* Define o mouse como uma mão com o dedo apontando */
    position: absolute;
    top: 45%;
    width: auto;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Posição do botão de próximo */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Posição do botão de volta */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* muda a cor usando o hover quando ser aperta nos botoes */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Estilo das bolinhas de navegação abaixo do carrosel */
.dot {
    cursor: pointer; /* Define o mouse como uma mão com o dedo apontando pra cima */
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #b3b3b3;
    border-radius: 70%;
    display: inline-block;
    transition: background-color 1s;  /* faz a mudança da cor de fundo das bolihha com uma transição de 1s de uma para outra*/
}

/* Estilo da bolinha active do java e efeito de passar o mouse */
.active, .dot:hover {
    background-color: #c2185b; /* Rosa Escuro */
}

/* Sobre nós */
#sobre {
    padding: 20px 0 120px 0;
    text-align: center;
    background-color: #eebdbd; /* Rosa claro */
}