body {
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #c2185b; /* Rosa escuro */
}

/*cabeçalho*/
header {
    background-color: #c2185b; /* Rosa Escuro */
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 10px;   
}

nav ul li {
    display: inline; /*alinha o menu em linha*/
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none; /* Remove o sublinhado do link */
}

/*home--index*/
.home {
    background-color: #c49565; /* Bege/Creme */
    height: 800px;
    text-align: center;
    color: white;
    padding: 30px 0;
}

/* carrrosel*/
.carousel-inner .item img,
.carousel-inner .item a img {
      width: 75%;
      max-height: 600px;    
      margin: auto;
}

/*sobre-index*/
#sobre {    
    padding: 20px 0 120px 0;
    text-align: center;
    background-color: #f8d7da; /* Rosa Claro */
}

/*galeria*/
.galeria {
    height: 3000px;
    background-color: #c49565;  /* Bege/Creme */
    padding: 15px 0 25px 0;
    color: white;
    text-align: center;     
}

.galeria img {
  border: 3px solid #c2185b;
  
}

.img {
    display: flex;
    justify-content: center;    
    list-style-type: none; /* Remove as bolinha da lista */  
    text-align: center; 
    max-width: 100%;
    height: auto;
    
}

.img figcaption {
    text-align: center;
    margin-top: 20px;
    background: #c2185b;    
}

/*Contatos*/
.contatos {    
    height: 600px;
    background-color: #f8d7da; /* Rosa Claro */   
}

#contatos-form {
    text-align: center;
    padding: 290px;
}

/*rodape*/
footer {
    background-color: #c2185b; /* Rosa Escuro */
    color: white;
    text-align: center;
    padding: 12px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer .endereco {
    margin-top: 10px;
    font-size: 16px;
    color: white;    
}

footer .endereco .pin {
    margin-right: 5px;
}