body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/*cabeçalho*/
header {
    background-color: #c2185b; /* Rosa Escuro */
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 10px;   
}

nav ul li {
    display: inline; /*alinha o menu em linha*/
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none; /* Remove o sublinhado do link */
}
.container {
    background: #c49565 ;
    text-align: center;
    width: 50%;
    height: 100%;
    padding: 10% 25vw ;
}

.logo img {
    max-width: 15%;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF7F8F;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 50px;
    margin: 10px 0;
    text-decoration: none;
    font-size: 25px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #b81427;
}

.btn img {
    margin-right: 25px;
    width: 50px;
    border-radius: 47%;
}

.address {
    margin-top: 20px;
    font-size: 16px;
}
